<!-- Highlights -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="highlights" id="highlights">
  <article>
    <header>
      <h2><a href="/#highlights">Our Highlights: Coming Soon...</a></h2>
    </header>
    <p>
      Est nostrud laborum ullamco nulla. Sunt tempor velit do deserunt et
      adipisicing. In non sint sunt ea quis cupidatat cillum reprehenderit quis
      dolore mollit qui qui fugiat. Mollit nostrud amet veniam occaecat sunt
      elit. Mollit elit aute amet sit cupidatat ut pariatur id elit et elit elit
      officia aliquip. Sit Lorem culpa exercitation sint fugiat veniam commodo
      elit ut fugiat minim laborum sit. Magna anim laborum excepteur ut sunt
      excepteur quis nostrud id minim. Deserunt proident amet irure esse ad
      aliquip et. Proident tempor cillum minim id dolor elit minim sint sunt
      pariatur amet laboris cillum non. Commodo ad esse aliqua tempor aute velit
      excepteur. Pariatur eiusmod cillum adipisicing reprehenderit ex ad aliqua
      commodo nostrud culpa cupidatat excepteur. Cupidatat sunt laborum fugiat
      laboris qui minim dolore deserunt deserunt deserunt duis molli.
    </p>
    Until then, join our <a href="https://discord.gg/dGAbpv">Discord</a>
  </article>
</section>
