<!-- Squad -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<section class="squadinfo" id="squad">
  <article>
    <header>
      {{ .Content }}
      <h2><a href="/#squad">Squad Information: Coming Soon...</a></h2>
    </header>
    <p>
      Labore sunt nisi dolore duis ut exercitation ipsum ex do fugiat cillum. Est enim eu
      cupidatat anim labore ex consequat ullamco ex ullamco sit ipsum in
      aliquip. Est sint aliquip velit ad magna exercitation commodo incididunt.
      Eiusmod id nulla aliqua laborum. Elit Lorem consequat exercitation
      occaecat nulla laborum sint ullamco ipsum commodo voluptate excepteur.
      Occaecat excepteur esse esse esse ad minim culpa fugiat Lorem
      reprehenderit incididunt velit cillum tempor. Consectetur excepteur labore
      nostrud labore amet. Irure excepteur excepteur laboris sit et qui sit.
    </p>
    Until then, join our <a href="https://discord.gg/dGAbpv">Discord</a>
  </article>
</section>
